<app-paginas>
    
    <app-componente-principal [titulo]="titulo" [parrafo]="parrafo"></app-componente-principal>


    <app-article>
        <h2 class="h2">Node Js - NPM / Yarn</h2>

        <h3 class="h3">Npm</h3>

        <p class="p">Podemos descargar la librería como una dependencia de Node Js a través de la consola.</p>

        <a class="copy" data-target="#1">
            <span class="tips-ele" data-position="right" data-info="<span class='t-toxic fz-13'>Copiado !!<span>" data-evt="click" >
              Copiar
            </span>
        </a>
    
        <pre class="cod-js" id="1">
        {{npm}}
        </pre>

        <h3 class="h3">Yarn</h3>

        <p class="p">También podemos utilizar el gestor de pauqetes Yarn para incluir en el package de nuestro proyecto
          la librería.
        </p>
        <a class="copy" data-target="#2">
            <span class="tips-ele" data-position="right" data-info="<span class='t-toxic fz-13'>Copiado !!<span>" data-evt="click" >
              Copiar
            </span>
        </a>
    
        <pre class="cod-js" id="2">
        {{yarn}}
        </pre>
        <h3 class="h3">Descarga directa</h3>
        <p class="p">Descarga directa a través del archivo <span class="res">.zip</span> del repositorio subido en github.</p>
        <p class="p t-force">
          Descarga directa: <a href="https://github.com/FedericoManzano/bodystyle-2.git" class="link">Repositorio</a>
        </p>

        <a href="" class="btn btn-pasture"><span class="bs-github mr-1"> </span> GitHub</a>

        <p class="p mt-1">
          A través de estos enlaces tenemos acceso a los repositorios de las librería, sus diferentes versiones y las dependencia utilizadas.
        </p>
    </app-article>


</app-paginas>
        