<app-paginas>
    
    <app-componente-principal [titulo]="titulo" [parrafo]="parrafo"></app-componente-principal>
    <app-article>

        <h2 class="h2">Clase container</h2>

        <p class="p">
            Se ñade la clase <span class="res">container</span> para centrar el contenido dentro 
            de una etiqueta HTML.
         </p>

        <div class="container mb-2">
            <div class="box">Caja</div>
        </div>
        <a class="copy" data-target="#1">
            <span class="tips-ele" data-position="right" data-info="<span class='t-toxic fz-13'>Copiado !!<span>" data-evt="click" >
              Copiar
            </span>
        </a>
        
        <pre class="cod-html mb-2" id="1">
        {{container}}
        </pre>

        <a class="copy" data-target="#2">
            <span class="tips-ele" data-position="right" data-info="<span class='t-toxic fz-13'>Copiado !!<span>" data-evt="click" >
              Copiar
            </span>
        </a>
        
        <pre class="cod-css" id="2">
        {{box}}
        </pre>
    </app-article>

</app-paginas>
        
