/* You can add global styles to this file, and also import other style files */
@import url("https://rawcdn.githack.com/FedericoManzano/dynamics-tips2/5b1314c0aff6b0f02a9fa77ceee9f0e5b5c0a6f1/dist/css/dynamics.min.css");
.article {
    margin-bottom: 50px;
    .h1, .h2 {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 35px;
    }

    .h2 {
        font-size: 27px;
        font-weight: 300;
    }


    .h3 {
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 10px;
        margin-top: 30px;
    }

    .p {
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .res {
        font-size: 17px;
        line-height: 25px;
        color: rgb(49, 184, 161);
    }
}

.h1 {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 35px;
}

.pagina {
    margin-top: 20px;
    width: 60%;
    margin-left: 280px;

    @media (max-width: 1020px) {
        width: 100%;
        margin-left: 0;
        padding: 30px;
    }
}


.codigo {
    text-align:left;
    background-color: black;
    padding: 5px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    .cabecera {
        background-color: black;
        padding: 10px 30px 12px 30px;
        
        border-radius: 10px 10px 0 0;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .circle {
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }

        .copy {
            color: white;
            font-size: 13px;
            cursor: pointer;
            user-select: none;
            padding: 2px;

            &:active {
            color: rgb(61, 179, 37);   
            }
        }
    }
}


.toast {
    position: fixed;
    right: 20px;
    top: 300px;
    max-width: fit-content;
    padding: 10px;
    transition: top ease;
    border-radius: 5px;
    z-index: 100000;
  }