<app-paginas>
    
    <app-componente-principal [titulo]="titulo" [parrafo]="parrafo"></app-componente-principal>



    <app-article>
        <h2 class="h2">Agregar módulos en proyectos de React o Vue</h2>
        <a class="copy" data-target="#1">
            <span class="tips-ele" data-position="right" data-info="<span class='t-toxic fz-13'>Copiado !!<span>" data-evt="click" >
              Copiar
            </span>
        </a>
    
        <pre class="cod-js" id="1">
        {{react}}
        </pre>

        <h3 class="h3">Ejemplo del módulo de Tips de la librería</h3>

        <a class="copy" data-target="#2">
            <span class="tips-ele" data-position="right" data-info="<span class='t-toxic fz-13'>Copiado !!<span>" data-evt="click" >
              Copiar
            </span>
        </a>
    
        <pre class="cod-js" id="2">
        {{ejemplo}}
        </pre>

        <h3 class="h3">En Angular</h3>

        <p class="p">Existe un archivo de configuración de angular que es <span class="res">angular.json</span>
        en la sección script de este archivo añadir el modulo que se necesite para hacerlo global. Hay que tener en cuenta
        que Angular esta realizado en typeScript y los módulos son en JS.
        </p>

        <a class="copy" data-target="#3">
            <span class="tips-ele" data-position="right" data-info="<span class='t-toxic fz-13'>Copiado !!<span>" data-evt="click" >
              Copiar
            </span>
        </a>
    
        <pre class="cod-js" id="3">
        {{angular}}
        </pre>
        <p class="p mt-2">Luego para declararlo.</p>

        <a class="copy" data-target="#4">
            <span class="tips-ele" data-position="right" data-info="<span class='t-toxic fz-13'>Copiado !!<span>" data-evt="click" >
              Copiar
            </span>
        </a>
    
        <pre class="cod-js" id="4">
        {{dec}}
        </pre>
    </app-article>
</app-paginas>