
<app-paginas>
    <app-article>
        <h1 id="body"  class="h1 scroll-item">Bodystyle</h1>
        <p class="p">
            Bodystyle es una librería de estilos CSS y funcionalidades en JS para 
            el rápido desarrollo de la interfaz de usuario UI. Todo el código de la 
            libreria está documentado y cuanta con los archivos con el código fuente 
            para poder modificarlo.
        </p>
        <div class="d-flex">
            <a href="#" class="btn btn-pasture">Descarga</a>
            <a href="#" class="btn btn-o-dark ml-1">GitHub</a>
        </div>
    </app-article>



    <app-article>
        <h2 class="h2">CDN</h2>
        <p class="p">Podemos agregar a nuestra página el cdn de la librería en la cabecera de la página.</p>
        
        
        <h3 class="h3">Código de la plantilla</h3>
        <a class="copy" data-target="#1">
            <span class="tips-ele" data-position="right" data-info="<span class='t-toxic fz-13'>Copiado !!<span>" data-evt="click" >
              Copiar
            </span>
        </a>
    
        <pre class="cod-html" id="1">
        {{cabecera}}
        </pre>
        <h3 class="h3">Footer de la pagina los archivo JS</h3>

        <a class="copy" data-target="#2">
            <span class="tips-ele" data-position="right" data-info="<span class='t-toxic fz-13'>Copiado !!<span>" data-evt="click" >
              Copiar
            </span>
        </a>
    
        <pre class="cod-html" id="2">
        {{footer}}
        </pre>
    
    </app-article>

    <app-article>
        <h2 class="h2">Plantilla</h2>
        <p class="p">Una plantilla para agregagar la librería</p>
    

        <h3 class="h3">Footer de la pagina los archivo JS</h3>

        <a class="copy" data-target="#3">
            <span class="tips-ele" data-position="right" data-info="<span class='t-toxic fz-13'>Copiado !!<span>" data-evt="click" >
              Copiar
            </span>
        </a>
    
        <pre class="cod-html" id="3">
        {{plantilla}}
        </pre>
    
    </app-article>

</app-paginas>  


    