
<app-paginas>
    
    <app-componente-principal [titulo]="titulo" [parrafo]="parrafo"></app-componente-principal>


    <app-article>
        <h2 id="cdn" class="h2 scroll-item">CDN</h2>
        <p class="p">
          Podemos agregar a nuestra página el cdn de la librería en la cabecera de la página.
          Dentro de las etiquetas <span class="res">head</span> linkeamos los archivos desde 
          el repositorio de Github para añadirlos.  
        </p>
        
        
        <h3 class="h3">Código de la plantilla</h3>
        <a class="copy" data-target="#1" (click)="mostrarToast()">
            <span class="tips-ele" data-position="right" data-info="<span class='t-toxic fz-13'>Copiado !!<span>" data-evt="click" >
              Copiar
            </span>
        </a>
    
        <pre class="cod-html" id="1">
        {{cabecera}}
        </pre>
        <h3 class="h3">Footer de la pagina los archivo JS</h3>

        <a class="copy" data-target="#2" (click)="mostrarToast()">
            <span class="tips-ele" data-position="right" data-info="<span class='t-toxic fz-13'>Copiado !!<span>" data-evt="click" >
              Copiar
            </span>
        </a>
    
        <pre class="cod-html" id="2">
        {{footer}}
        </pre>
    
    </app-article>

    <app-article>
        <h2 class="h2 scroll-item" id="plantilla" >Plantilla</h2>
        <p class="p">Una plantilla para agregagar la librería</p>
    

        <h3 class="h3">Footer de la pagina los archivo JS</h3>

        <a class="copy" data-target="#3" (click)="mostrarToast()">
            <span class="tips-ele" data-position="right" data-info="<span class='t-toxic fz-13'>Copiado !!<span>" data-evt="click" >
              Copiar
            </span>
        </a>
    
        <pre class="cod-html" id="3">
        {{plantilla}}
        </pre>
    
    </app-article>

</app-paginas>  


<div class="scroll-spy">
  <ul>
      <li><a data-scroll="#cdn">CDN</a></li>
      <li><a data-scroll="#plantilla">Plantilla</a></li>
  </ul>
</div>