.box,
.box-f {
    padding: 8px;
    font-size: 1em;
    background-color: black;
    color: white;
    text-align: center;
    border: 1px solid red;
}

.box-f {
    display: block;
    width: 250px;
}